.q-btn-dropdown
  &--split .q-btn-dropdown__arrow-container
    border-left: 1px solid rgba(255,255,255,.3)
    padding: 0 4px

  &--simple * + .q-btn-dropdown__arrow
    margin-left: 8px
  &__arrow
    transition: transform .28s

  &--current
    flex-grow: 1
